<h1>Qiitan</h1>

<p>投稿から一ヶ月間のストック数を表示します</p>
<a href="/crawl">更新</a> （あまり押さないでね）

<h2>全体</h2>

<ul>
  <li>みんなの記事数 <%= @total_articles.to_s %></li>
  <li>みんなのストック数 <%= @total_stock.to_s %></li>
</ul>


<h2>ユーザ別</h2>
<p>獲得ポイントが高い順にソート</p>
<% @u.each do |user|%>
  <h3><%= link_to(user.name, "http://qiita.com/" + user.name) + " : " + user.total_point.to_s + " (" + user.total_point_with_upper_limit.to_s + ")"   %></h3>
  <table>
    <tr>
      <th>タイトル</th>
      <th>ストック数</th>
      <th>獲得Pt.</th>
      <th>参考Pt.</th>
      <th>投稿日</th>
    </tr>
    <% user.articles.sort(:posted_at).each do |article|%>
      <tr>
        <td><%= link_to(article.title, article.url) %></td>
        <td><%= article.stock_count %></td>
        <td><%= article.point %></td>
        <td><%= article.point_with_upper_limit %></td>
        <td><%= article.posted_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>
