<h1>Qiitan</h1>

<p>投稿から一ヶ月間のストック数を表示します</p>

<a href="/crawl">更新</a> （あまり押さないでね）

<% @u.each do |user|%>
  <h2><%= link_to(user.name, "http://qiita.com/" + user.name) + " : " + user.total_point.to_s %></h2>
  <table>
    <tr>
      <th>タイトル</th>
      <th>ストック数</th>
      <th>ポイント</th>
      <th>投稿日</th>
    </tr>
    <% user.articles.each do |article|%>
      <tr>
        <td><%= link_to(article.title, article.url) %></td>
        <td><%= article.stock_count %></td>
        <td><%= article.point %></td>
        <td><%= article.posted_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>
