<h1><%= image_tag './qiitan.png', :size => '36x36' %> Qiitan</h1>

<p>投稿から一ヶ月間のストック数を表示します</p>

<a class="btn btn-<%= @update_status %>" href="/crawl">更新</a>
 最終更新時刻: <%= @last_updated_time %>
<% if @update_status != 'success' %>
（あまり押さないでね）
<% end %>

<h2>統計</h2>

<ul>
  <li>みんなの記事数 <%= @total_articles.to_s %></li>
  <li>みんなのストック数 <%= @total_stock.to_s %></li>
  <li>このペースだと10000ストックまであと <%= @estimate.round().to_s %> 記事</li>
</ul>

<svg id="main" height="300px"></svg>

<h2>ホットトピック</h2>
<p>最近のメンバーが投稿したホットトピック</p>
<table class="table table-striped">
  <tr>
    <th>タイトル</th>
    <th>カテゴリ</th>
    <th>投稿者</th>
    <th>ストック数</th>
    <th>投稿日</th>
  </tr>
  <% @hot_articles.each do |article| %>
    <tr>
      <td><%= link_to(article.title, article.url) %></td>
      <td>
        <% article.tags.each do |tag| %>
          <% if tag.name == 'Titanium' %>
            <font color='red'><%= tag.name %></font>,
          <% else %>
            <%= tag.name %>
          <% end %>
        <% end %>
      </td>
      <td><%= article.user.name %></td>
      <td><%= article.stock_count %></td>
      <td><%= article.posted_at %></td>
    </tr>
  <% end %>
</table>


<h2>ユーザ別</h2>
<p>獲得ポイントが高い順にソート</p>
<% @u.each do |user|%>
  <h3><%= link_to(user.name, "http://qiita.com/" + user.name) + " : " + user.total_point.to_s + " (" + user.total_point_with_upper_limit.to_s + ")"   %></h3>
  <table class="table">
    <tr>
      <th>タイトル</th>
      <th>カテゴリ</th>
      <th>ストック数</th>
      <th>獲得Pt.</th>
      <th>参考Pt.</th>
      <th>投稿日</th>
    </tr>
    <% user.articles.order("posted_at desc").each do |article|%>
      <tr>
        <td><%= link_to(article.title, article.url) %></td>
        <td>
          <% article.tags.each do |tag| %>
            <% if tag.name == 'Titanium' %>
              <font color='red'><%= tag.name %></font>,
            <% else %>
              <%= tag.name %>
            <% end %>
          <% end %>
        </td>
        <td><%= article.stock_count %></td>
        <td><%= article.point %></td>
        <td><%= article.point_with_upper_limit %></td>
        <td><%= article.posted_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>
